{% extends "base.html" %}

{% block content %}
<section class="d-flex align-items-center mt-5">
    <div class="container">
        <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-2 d-flex flex-column justify-content-center align-items-center align-items-md-start text-center text-md-start">
                <h2 class="display-4 mb-4">About Our Restaurant</h2>
                <p class="lead">Welcome to SAIF Kitchen, where we take pride in serving delicious and wholesome meals crafted with care and passion. Our restaurant is a place where culinary expertise meets a warm and inviting atmosphere.</p>
                <p>At SAIF Kitchen, we believe in using only the finest ingredients to create memorable dining experiences for our guests. Whether you're here for a casual meal with friends or a special celebration, our diverse menu has something for everyone.</p>
            </div>
            <div class="col-lg-5 order-2 order-lg-1 text-center text-md-start">
                <img src="/static/img/about.jpg" alt="Restaurant Image" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>

{% endblock content %}

